a {
  text-decoration: none;
  color: #000;
}

body {
    color: #436372;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-700;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.pagination{
  display: flex;
  justify-content: center;
  padding-top: 110px;
  &__list{
    display: flex;
    align-items: center;
  }
  &__link{
    border: 1px solid;  
    border-color: rgb(163, 187, 200);
    padding: 16px 20px;
    @extend %Rubik-400;
    color: $default;
  }
  &__item + &__item{
    margin-left: 16px;
  }
  &__next{
    border: 1px solid;  
    border-color: rgb(163, 187, 200);
    padding: 10px 19px;
    margin-left: 16px;
    @extend %Rubik-400;
    color: $default;
  }
  &__link-active{
  background-color: rgb(163, 187, 200);
  color: #fff;
  max-width: 50px;
  max-height: 50px;
  }
}