.advertising{
  margin-bottom: 104px;
}
.advertising-items{
  display: flex;
  justify-content: space-between;
  &__img{
    margin: -94px 0 0 138px;
  }
  &__item{
    display: flex;
    width: 870px;
    height: 390px;
    background-color: #feefe2;
  }
  &__item + &__item{
    margin-left: 30px;
  }
  &__information{
    display: flex;
    align-items: center;
    margin-left: 18px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $default;
  }
  &__item-title{
    max-width: 328px;
    margin-bottom: 36px;
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $default;
  }
  &__link{
    @extend %btn;
    max-width: 180px;
    background-color: #feefe2;
    border: 1px solid;
    border-radius: 5px;
    border-color: #b3b7b5;
    color: $accent;
  }
}